defaults:
  - _self_

method: n-cps

train:
  total_epochs: 200
  validation_interval: 20

init:
  _target_: trainer.NCPSTrainer

  num_models: 3        # balanced diversity

  supervised_criterion:
    _target_: torch.nn.MSELoss

  unsupervised_criterion:
    _target_: torch.nn.MSELoss

  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.0007          # slightly lower works better with 3-model CPS
    weight_decay: 0.005

  scheduler:
    _target_: torch.optim.lr_scheduler.CosineAnnealingLR
    _partial_: true
    T_max: 100

  cps_weight: 0.1       # previously 0.01 = too weak to matter
  cps_rampup_epochs: 5  # faster rampup than MT
